.calculadora{
	font-family: Arial;
	margin:auto;
	color: white;
	text-align:center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	background-color: blue;
	border-radius:7px;
	box-shadow: 0 1px 1px 3px rgba(0,0,0,0.5);
	display:block;
	width:230px;
	padding:8px;
	height:343px;
}
.calculadora h2{
	margin:0;
}
.calculadora form input{
	text-align:right;
	width: 98%;
	border-color: black;
	border-radius:6px;
	background-color:#363636;
	font-size: 1.6em;
	color:white;
	font-family:cursive;
	margin-bottom:20px;
}
button{
	font-weight:bold;
	font-size:1em;
	outline:none;
	border-radius:10px;
	padding-left:4px;
	margin:3px;
	width:45px;
	height:40px;
	color:black;
	box-shadow:0 2px 0 1px black;
}
#igual{
	width:100px;
}
button:hover{
	transition:all 0.5s;
	color:white;
	background-color: blue;
}